# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

#VS
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Microsoft Azure Web App publish settings
PublishProfiles/

# Docker
*.dockerignore
docker-compose.override.yml

# LocalDB
*.mdf
*.ldf

# Others
*.dbmdl
*.bak
*.log
